*{
    font-family: "Roboto";
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.clearfix{
    float: none;
    clear: both;
}

#contenedorGeneral{
    width: 1200px;
    border: 1px solid black;
    margin: 0px auto; /*centrar elemento*/
    margin-top: 20px;
}

#cabecera{
    width: 100%;
    height: 100px;
    background-color: brown;
    color: white;
    text-align: center;
    line-height: 70px;
}
#menu{
    background-color:#eeeeee;
}
#menu > ul > li{
    display: inline-block;
    padding: 10px;
    border-right: 1px solid black;
}

#menu > ul > li > a{
    color: #444;
}

#menu > ul > li > a:hover{
    color: brown;
}

#barraLateral{
    float: left;
    width: 30%;
    background-color: #CCC;
}

#contenidoPrincipal{
    width: 70%;
    float: right;
    background-color: #444;
}

#contenidoPrincipal .caja{
    width: 40%;
    height: 250px;
    background-color: brown;
    border: 2px solid black;
    color: white;
    float: left;
    margin: 20px;
    margin-left: 40px;
}

#contenidoPrincipal > h4 {
    text-align: center;
    border-bottom: 1px solid white;
    padding: 15px;
    color: #444;
}

#footer{
    width: 100%;
    background-color: #eeeeee;
    text-align: center;
    color: #444;
    height: 55px;
    line-height: 55px;
}